.upload-list-container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  & .upload-list-cancel {
    color: grey;
    height: 16px;
    width: 16px;
    align-self: flex-end;
    cursor: pointer;
  }

  & .upload-list-dnd-text {
    color: #002E41;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
  }

  & .upload-list-divider {
    height: 1px;
    width: 870px;
    background-color: grey;
    margin-top: 15px;
  }

  & .upload-list-divider span {
    color: grey;
    width: 20px;
    background-color: transparent;
  }

  & .upload-list-blocks {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  & .upload-list-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 224px;
    width: 270px;
    margin: 0 15px;
    border: 1px solid grey;
    cursor: pointer;
  }

}
